<div class="col-sm-{{::width}}">
	<div class="form-group {{::addClass}}" style="margin-top: -0.6em;">
		<div class="checkbox">
			<label>
				<input ng-click="onClick();" type="checkbox" ng-model="checked" ng-checked="checked" /><span class="label-checkbox">{{::value[field]}}</span>
				
			</label>
			<span class="help-block text-danger animate" ng-if="showErro">{{msgInput}}</span>
		</div>
	</div>
</div>