<div class="ul-nav-link">
    <button ng-if="::!url" class="btn dropdown-toggle" >
      	<i class="material-icons">{{::icon}}</i>
      	<span class="label-link-menu" ng-if="label">{{label}}</span> 
      	<div ng-if="badges" class="badges">{{badges}}</div>
    </button>
    <a ng-if="::url" href="{{::url}}" class="btn dropdown-toggle" >
      	<i class="material-icons">{{::icon}}</i>
      	<span class="label-link-menu" ng-if="label">{{::label}}</span> 
      	<div ng-if="badges" class="badges">{{badges}}</div>
    </a>
</div>
