<div class="ul-nav-link">
    <button class="btn dropdown-toggle" >
      	<i class="material-icons">{{icon}}</i>
      	<span class="label-link-menu" ng-if="label">{{label}}</span> 
      	<i class="material-icons">arrow_drop_down</i>
      	<div ng-if="badges" class="badges">{{badges}}</div>
    </button>
    <ul class="dropdown-menu dropdown-menu-right" ng-transclude>
     
    </ul>
</div>
