<span>
<nav class="nav-faker animate" style="display: none;">

</nav>
<nav  class="navbar {{addClass}} shadow-4 nav-not-faker animate">
	<div ng-transclude >	
	</div>
	<div class="title-nav ">
		<a href="{{url}}" class="logo" ng-if="imgLogo">
			<img  alt="logomarca" src="{{pathImg + imgLogo}}" class="img-responsive" style="max-height: 2em;">
		</a>
		<label>{{label}}</label>
			
	</div>
	<div>
		<input type="checkbox" class="radio-nav-right" />	
		<div id="nav-slide-right" class="animate nav-slide-right animate shadow-16">
			<div class="nav-slide-right-title">
				<span id="nav-slide-title-label">Titulo</span> 
				<ui-button icon="cancel" add-class="btn-sm" ng-click="fecharSlideRigh();"></ui-button>
			</div>
			<div class="nav-slide-right-container animate col-sm-12">
			
			</div>
		</div>
	</div>
</nav>
</span>