 <div class="form-group col-sm-{{::width}}" style="margin-top: 0.9em;">
    <div>
      <div class="togglebutton {{::addClass}}" >
        <label style="text-align: left;" >
          <input  type="checkbox" ng-model="value"/><span class="label-toggle">{{label}}</span>
          <span style="float:left;" class='toggle animate'></span>
        </label>
      </div>
    </div>
  </div>