<div id="tabs-body{{::$id}}" class=" tabs-body" >
    <div class="container-fluid tabs-body-circle" ng-if="::page" style="margin: auto;">
        <div style="margin-top: 3em;"><ui-loading-circle size="md"></ui-loading-circle></div>
        <h1>Com página!</h1>
    </div>
    <div  ng-transclude class="tabs-body-container">
        
     </div>
</div>