<div class="container-fluid col-sm-12 animate">
    <h3>Form-group  Normal</h3>
    <ui-paper width="12">

        <form ui-form>
            <div class="col-sm-12">
                <ui-input icon-before="date_range" placeholder="Informe a data" value="usuario.data" type="text" add-class="form-danger" width="2" not-empty="true" mask-date="true" valid-date="true" date-picker="true"> </ui-input>
                <ui-input popover="{{::msgPopover}}"  placeholder="CPF" value="usuario.cpf" type="text" add-class="form-primary" width="2" not-empty="true" mask-cpf="true" valid-cpf="true"> </ui-input>
                <ui-input icon-before="alarm" placeholder="Hora" value="usuario.hora" type="text" add-class="form-primary" width="2" not-empty="true" mask-clock="true" valid-clock="true" clock-picker="true"> </ui-input>
                <ui-input placeholder="numeros" value="usuario.numeros" type="text" add-class="form-primary" width="2" not-empty="true" valid-number="true" > </ui-input>
                <ui-input placeholder="numeros" value="usuario.num" type="text" add-class="form-primary" width="2" not-empty="true" mask-number="true" > </ui-input>
                <ui-input popover="{{::msgPopover}}"  placeholder="CPF" value="usuario.cpf" type="text" add-class="form-primary" width="2" not-empty="true" mask-cpf="true" valid-cpf="true"> </ui-input>

                <ui-select width="4" value="selecionado" list="filiais" field="nome" placeholder="Filiais"></ui-select>
                <ui-textarea width="3" value="textarea1" placeholder="Teste" rows="1" not-empty="true" valid-min="5" mask-max="50" count-max="true"></ui-textarea>
                <ui-input icon-before="drafts" placeholder="CEP" value="usuario.cep" type="text" add-class="form-warning" width="2" not-empty="true" valid-cep="true" mask-cep="true"> </ui-input>

                <ui-input placeholder="CNPJ" value="usuario.cnpj" type="text" add-class="form-primary" width="3" not-empty="true" mask-cnpj="true" valid-cnpj="true"> </ui-input>
                <ui-input icon-before="email" placeholder="E-Mail" value="usuario.email" type="text" add-class="form-warning" width="3" not-empty="true" valid-email="true"> </ui-input>
                <ui-textarea value="textarea1" placeholder="Teste" rows="10"></ui-textarea>
                <ui-input icon-before="email" placeholder="E-Mail" value="usuario.email" type="text" add-class="form-warning" width="3" not-empty="true" valid-email="true"> </ui-input>
                <ui-checkbox  width="2" add-class="check-danger"  value="check1" selecteds="cursosSelecionados" field="nome" checked="true"></ui-checkbox>
                <ui-checkbox  width="2" add-class="check-danger"  value="check2" selecteds="cursosSelecionados" field="nome" ></ui-checkbox>
                <ui-radio value="usuario.radioTeste" width="1" set-value="MA" label="Masculino" name="testR"></ui-radio>
                <ui-radio add-class="radio-success" width="1" value="usuario.radioTeste" set-value="FE" label="Feminino" name="testR"></ui-radio>
                <ui-radio add-class="radio-info" width="1" value="usuario.radioTeste" set-value="HO" label="Homo" name="testR" ></ui-radio>
                <ui-toggle on-change="clickRadio" label-true="Informado" width="2" value="isSelected"></ui-toggle>

                <ui-listcheck list="filiais" field="nome" selecteds="filiaisSelecionados" add-class-check="check-primary" width="12" width-check="2"></ui-listcheck>

                <ui-button type="button" add-class="btn-raised  btn-danger" icon="check" ng-click="testeFunctionPage();">Nav Cad</ui-button>
                <ui-button type="button" add-class="btn-raised  btn-danger" icon="check" ng-click="testeFunction();">Nav Load</ui-button>
                <ui-button type="button" add-class="btn-raised  btn-danger" icon="check" ng-click="testeDialog();">Dialog</ui-button>
                <ui-button type="button" add-class="btn-raised  btn-danger" icon="check" ng-click="testeModal();">Modal</ui-button>
                <ui-button type="button" add-class="btn-raised  btn-danger" icon="check" ng-click="openLoading();">OpenLoading</ui-button>
            </div>
        </form>
    </ui-paper>
    <h3>Form-group  SMall</h3>
    <ui-paper width="12">
        <form ui-form>
            <div class="col-sm-12">
                <ui-input icon-before="date_range" placeholder="Informe a data" value="usuario.data" type="text" add-class="form-danger form-group-sm" width="2" not-empty="true" mask-date="true" valid-date="true" date-picker="true"> </ui-input>
                <ui-input  placeholder="CPF" value="usuario.cpf" type="text" add-class="form-primary form-group-sm" width="2" not-empty="true" mask-cpf="true" valid-cpf="true"> </ui-input>
                <ui-input icon-before="alarm" placeholder="Hora" value="usuario.hora" type="text" add-class="form-primary form-group-sm" width="2" not-empty="true" mask-clock="true" valid-clock="true" clock-picker="true"> </ui-input>
                <ui-select width="6" add-class="form-group-sm" value="selecionado" list="filiais" field="nome" placeholder="Filiais"></ui-select>

                <ui-textarea width="3" add-class="form-group-sm" value="textarea1" placeholder="Teste" rows="1" not-empty="true"></ui-textarea>
                <ui-textarea width="3" add-class="form-group-sm" value="textarea1" placeholder="Teste" rows="1" not-empty="true"></ui-textarea>
                <ui-input placeholder="numeros" value="usuario.numeros" type="text" add-class="form-primary form-group-sm" width="2" not-empty="true" valid-number="true" > </ui-input>
                <ui-input placeholder="numeros" value="usuario.num" type="text" add-class="form-primary form-group-sm" width="2" not-empty="true" mask-number="true" > </ui-input>
                <ui-input icon-before="drafts" placeholder="CEP" value="usuario.cep" type="text" add-class="form-warning form-group-sm" width="2" not-empty="true" valid-cep="true" mask-cep="true"> </ui-input>

                <ui-input placeholder="CNPJ" value="usuario.cnpj" type="text" add-class="form-primary form-group-sm" width="2" not-empty="true" mask-cnpj="true" valid-cnpj="true"> </ui-input>
                <ui-textarea add-class="form-group-sm" value="textarea1" placeholder="Teste" rows="10"></ui-textarea>
                <ui-input icon-before="email" placeholder="E-Mail" value="usuario.email" type="text" add-class="form-warning form-group-sm" width="4" not-empty="true" valid-email="true"> </ui-input>
                <ui-radio add-class="form-group-sm" on-click="clickRadio" checked="true" obj-value="usuario.radioTeste" width="2" value="MA" label="Masculino" name="testR"></ui-radio>
                <ui-radio add-class="form-group-sm" width="2" obj-value="usuario.radioTeste" value="FE" label="Feminino" name="testR"></ui-radio>
                <ui-toggle add-class="form-group-sm"  label-false="Não Informado" label-true="Informado" width="2" value="isSelected"></ui-toggle>
                <ui-button show-validation="true" type="button" add-class="btn-raised btn-danger btn-sm" icon="check">Validar</ui-button>
                <ui-button show-validation="true" type="button" add-class="btn-raised btn-danger btn-sm" icon="check"></ui-button>
            </div>

        </form>
    </ui-paper>
    <h3>Form-group  Large</h3>
    <ui-paper width="12">
        <form ui-form>
            <div class="col-sm-12">
                <ui-input icon-before="date_range" placeholder="Informe a data" value="usuario.data" type="text" add-class="form-danger form-group-lg" width="2" not-empty="true" mask-date="true" valid-date="true" date-picker="true"> </ui-input>
                <ui-textarea width="3" add-class="form-group-lg" value="textarea1" placeholder="Teste" rows="1" not-empty="true"></ui-textarea>
                <ui-input  placeholder="CPF" value="usuario.cpf" type="text" add-class="form-primary form-group-lg" width="2" not-empty="true" mask-cpf="true" valid-cpf="true"> </ui-input>
                <ui-input icon-before="alarm" placeholder="Hora" value="usuario.hora" type="text" add-class="form-primary form-group-lg" width="2" not-empty="true" mask-clock="true" valid-clock="true" clock-picker="true"> </ui-input>
                <ui-input placeholder="numeros" value="usuario.numeros" type="text" add-class="form-primary form-group-lg" width="2" not-empty="true" valid-number="true" > </ui-input>
                <ui-input placeholder="numeros" value="usuario.num" type="text" add-class="form-primary form-group-lg" width="2" not-empty="true" mask-number="true" > </ui-input>
                <ui-input icon-before="drafts" placeholder="CEP" value="usuario.cep" type="text" add-class="form-warning form-group-lg" width="2" not-empty="true" valid-cep="true" mask-cep="true"> </ui-input>
                <ui-input icon-before="email" placeholder="E-Mail" value="usuario.email" type="text" add-class="form-warning form-group-lg" width="4" not-empty="true" valid-email="true"> </ui-input>
                <ui-textarea width="4" add-class="form-group-lg" value="textarea1" placeholder="Teste" rows="1"></ui-textarea>
                <div class="col-sm-12">
                    <ui-select width="3" add-class="form-group-lg" value="selecionado" list="filiais" field="nome" placeholder="Filiais"></ui-select>

                    <ui-radio add-class="form-group-lg" on-click="clickRadio" checked="true" obj-value="usuario.radioTeste" width="2" value="MA" label="Masculino" name="testR"></ui-radio>
                    <ui-radio add-class="form-group-lg" width="2" obj-value="usuario.radioTeste" value="FE" label="Feminino" name="testR"></ui-radio>
                    <ui-toggle add-class="form-group-lg" label-false="Não Informado" label-true="Informado" width="2" value="isSelected"></ui-toggle>
                </div>
                    <ui-input placeholder="CNPJ" value="usuario.cnpj" type="text" add-class="form-primary form-group-lg" width="2" not-empty="true" mask-cnpj="true" valid-cnpj="true"> </ui-input>
                <ui-textarea add-class="form-group-lg" value="textarea1" placeholder="Teste" rows="10"></ui-textarea>

<!--                        <ui-button show-validation="true" type="button" add-class="btn-raised btn-danger btn-lg" icon="check">Validar</ui-button>
                <ui-button show-validation="true" type="button" add-class="btn-raised btn-danger btn-lg" icon="check"></ui-button>-->
            </div>

        </form>
    </ui-paper>
    <h3>Form-group  normal Float</h3>
    <ui-paper width="12">
        <form ui-form>
            <div class="col-sm-12">
                <ui-input icon-before="date_range" label="Informe a data" value="usuario.data" type="text" add-class="form-danger" width="2" not-empty="true" mask-date="true" valid-date="true" date-picker="true"> </ui-input>
                <ui-textarea width="3" value="textarea1" label="Teste" rows="1" not-empty="true"></ui-textarea>
                <ui-select width="6" value="selecionado" list="filiais" field="nome" label="Filiais"></ui-select>
                <ui-input  label="CPF" value="usuario.cpf" type="text" add-class="form-primary" width="2" not-empty="true" mask-cpf="true" valid-cpf="true"> </ui-input>
                <ui-textarea width="3" value="textarea1" label="Teste" rows="1"></ui-textarea>
                <ui-input icon-before="alarm" label="Hora" value="usuario.hora" type="text" add-class="form-primary" width="2" not-empty="true" mask-clock="true" valid-clock="true" clock-picker="true"> </ui-input>
                <ui-input label="numeros" value="usuario.numeros" type="text" add-class="form-primary" width="2" not-empty="true" valid-number="true" > </ui-input>
                <ui-input label="numeros" value="usuario.num" type="text" add-class="form-primary" width="2" not-empty="true" mask-number="true" > </ui-input>
                <ui-input icon-before="drafts" label="CEP" value="usuario.cep" type="text" add-class="form-warning" width="2" not-empty="true" valid-cep="true" mask-cep="true"> </ui-input>
                <ui-input icon-before="email" label="E-Mail" value="usuario.email" type="text" add-class="form-warning" width="4" not-empty="true" valid-email="true"> </ui-input>
                <ui-checkbox label="Teste" width='1' add-class="float check-danger"></ui-checkbox>
                <div class="col-sm-12">
                    <ui-radio  add-class="float" on-click="clickRadio" checked="true" obj-value="usuario.radioTeste" width="1" value="MA" label="Masculino" name="testR"></ui-radio>
                    <ui-radio  add-class="float" width="1" obj-value="usuario.radioTeste" value="FE" label="Feminino" name="testR"></ui-radio>
                    <ui-toggle add-class="float"  label-false="Não Informado" label-true="Informado" width="2" value="isSelected"></ui-toggle>
                    <ui-input label="CNPJ" value="usuario.cnpj" type="text" add-class="form-primary" width="2" not-empty="true" mask-cnpj="true" valid-cnpj="true"> </ui-input>
                </div>
                <ui-textarea value="textarea1" label="Teste" rows="10"></ui-textarea>
                <ui-button show-validation="true" type="button" add-class="btn-raised float btn-danger" icon="check">Validar</ui-button>
                <ui-button show-validation="true" type="button" add-class="btn-raised float btn-danger" icon="check"></ui-button>
            </div>
        </form>
    </ui-paper>
    <h3>Form-group  Small Float</h3>
    <ui-paper width="12">
        <form ui-form>
            <div class="col-sm-12">
                <ui-input icon-before="date_range" label="Informe a data" value="usuario.data" type="text" add-class="form-danger form-group-sm" width="2" not-empty="true" mask-date="true" valid-date="true" date-picker="true"> </ui-input>
                <ui-textarea width="3" add-class="form-group-sm" value="textarea1" label="Teste" rows="1" not-empty="true"></ui-textarea>
                <ui-input  label="CPF" value="usuario.cpf" type="text" add-class="form-primary form-group-sm" width="2" not-empty="true" mask-cpf="true" valid-cpf="true"> </ui-input>
                <ui-input icon-before="alarm" label="Hora" value="usuario.hora" type="text" add-class="form-primary form-group-sm" width="2" not-empty="true" mask-clock="true" valid-clock="true" clock-picker="true"> </ui-input>
                <ui-input label="numeros" value="usuario.numeros" type="text" add-class="form-primary form-group-sm" width="2" not-empty="true" valid-number="true" > </ui-input>
                <ui-select width="2" add-class="form-group-sm" value="selecionado" list="filiais" field="nome" label="Filiais"></ui-select>
                <ui-input label="numeros" value="usuario.num" type="text" add-class="form-primary form-group-sm" width="2" not-empty="true" mask-number="true" > </ui-input>

                <ui-input icon-before="drafts" label="CEP" value="usuario.cep" type="text" add-class="form-warning form-group-sm" width="2" not-empty="true" valid-cep="true" mask-cep="true"> </ui-input>
                <ui-input icon-before="email" label="E-Mail" value="usuario.email" type="text" add-class="form-warning form-group-sm" width="4" not-empty="true" valid-email="true"> </ui-input>
                <div class="col-sm-12">
                    <ui-radio add-class="form-group-sm float" on-selected="clickRadio" checked="true" obj-value="usuario.radioTeste" width="1" value="MA" label="Masculino" name="testR"></ui-radio>
                    <ui-radio add-class="form-group-sm float" width="1" obj-value="usuario.radioTeste" value="FE" label="Feminino" name="testR"></ui-radio>
                    <ui-toggle add-class="form-group-sm float"  label-false="Não Informado" label-true="Informado" width="2" value="isSelected"></ui-toggle>
                    <ui-input label="CNPJ" value="usuario.cnpj" type="text" add-class="form-primary form-group-sm" width="2" not-empty="true" mask-cnpj="true" valid-cnpj="true"> </ui-input>

                </div>
                <ui-textarea add-class="form-group-sm" value="textarea1" label="Teste" rows="10"></ui-textarea>
                <div class="col-sm-12">
                    <ui-button show-validation="true" type="button" add-class="btn-raised float btn-danger btn-sm" icon="check">Validar</ui-button>
                    <ui-button show-validation="true" type="button" add-class="btn-raised float btn-danger btn-sm" icon="check"></ui-button>
                </div>
            </div>

        </form>
    </ui-paper>
    <h3>Form-group  Large Float</h3>
    <ui-paper width="12">
        <form ui-form>
            <div class="col-sm-12">
                <ui-input  icon-before="date_range" label="Informe a data" value="usuario.data" type="text" add-class="form-danger form-group-lg" width="2" not-empty="true" mask-date="true" valid-date="true" date-picker="true"> </ui-input>
                <ui-input  label="CPF" value="usuario.cpf" type="text" add-class="form-primary form-group-lg" width="2" not-empty="true" mask-cpf="true" valid-cpf="true"> </ui-input>
                <ui-input icon-before="alarm" label="Hora" value="usuario.hora" type="text" add-class="form-primary form-group-lg" width="2" not-empty="true" mask-clock="true" valid-clock="true" clock-picker="true"> </ui-input>
                <ui-input label="numeros" value="usuario.numeros" type="text" add-class="form-primary form-group-lg" width="2" not-empty="true" valid-number="true" > </ui-input>
                <ui-input label="numeros" value="usuario.num" type="text" add-class="form-primary form-group-lg" width="2" not-empty="true" mask-number="true" > </ui-input>
                <ui-input icon-before="drafts" label="CEP" value="usuario.cep" type="text" add-class="form-warning form-group-lg" width="2" not-empty="true" valid-cep="true" mask-cep="true"> </ui-input>
                <ui-textarea width="3" add-class="form-group-lg" value="textarea1" label="Teste" rows="1" not-empty="true"></ui-textarea>
                <ui-input icon-before="email" label="E-Mail" value="usuario.email" type="text" add-class="form-warning form-group-lg" width="2" not-empty="true" valid-email="true"> </ui-input>
                <div class="col-sm-12">
                    <ui-select width="2" add-class="form-group-lg" value="selecionado" list="filiais" field="nome" label="Filiais"></ui-select>
                    <ui-radio add-class="form-group-lg float" on-click="clickRadio" checked="true" obj-value="usuario.radioTeste" width="2" value="MA" label="Masculino" name="testR"></ui-radio>
                    <ui-radio add-class="form-group-lg float" width="2" obj-value="usuario.radioTeste" value="FE" label="Feminino" name="testR"></ui-radio>
                    <ui-toggle add-class="form-group-lg float"  label-false="Não Informado" label-true="Informado" width="2" value="isSelected"></ui-toggle>
                    <ui-input label="CNPJ" value="usuario.cnpj" type="text" add-class="form-primary form-group-lg" width="2" not-empty="true" mask-cnpj="true" valid-cnpj="true"> </ui-input>
                </div>
                <ui-textarea add-class="form-group-lg" value="textarea1" label="Teste" rows="10"></ui-textarea>
                <ui-button show-validation="true" type="button" add-class="btn-raised float btn-danger btn-lg" icon="check">Validar</ui-button>
                <ui-button show-validation="true" type="button" add-class="btn-raised float btn-danger btn-lg" icon="check"></ui-button>
            </div>
        </form>
    </ui-paper>
</div>